.card-container{
    height: 115px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 25px 25px 25px;
}

.pokemon-name{
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.pokemon-img{
    height: 110px;
    width: auto;
    padding-right: 10px;
}

.pokemon-info{
    padding: 10px;
}

.pokemon-info > p{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.card-index{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
